dev/examples/aggregation-join_Example.json
[
    {
        "id": "63de26f5e04c1f29",
        "type": "tab",
        "label": "Test aggregation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b827eeb2f1452ddd",
        "type": "ui_text_input",
        "z": "63de26f5e04c1f29",
        "name": "",
        "label": "Relai",
        "tooltip": "",
        "group": "e9e21eaa1565e227",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "relayNumber",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "e0adb759a248d345",
                "1656208bdc4a907b"
            ]
        ]
    },
    {
        "id": "53364eebf3bf18b1",
        "type": "ui_form",
        "z": "63de26f5e04c1f29",
        "name": "",
        "label": "Module",
        "group": "e9e21eaa1565e227",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "IP adresse",
                "value": "ip",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "port",
                "value": "port",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "relai number",
                "value": "count",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ip": "",
            "port": "",
            "count": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 440,
        "y": 380,
        "wires": [
            [
                "54a9e19113943de7"
            ]
        ]
    },
    {
        "id": "dc872c2f43e6840d",
        "type": "ui_dropdown",
        "z": "63de26f5e04c1f29",
        "name": "ModeSelector",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "e9e21eaa1565e227",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Delestage",
                "value": "del",
                "type": "str"
            },
            {
                "label": "Régulation",
                "value": "regu",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "topicType": "str",
        "className": "",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "54a9e19113943de7",
                "1656208bdc4a907b"
            ]
        ]
    },
    {
        "id": "54a9e19113943de7",
        "type": "debug",
        "z": "63de26f5e04c1f29",
        "name": "aggregation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "e0adb759a248d345",
        "type": "change",
        "z": "63de26f5e04c1f29",
        "name": "save choice to id",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relai",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "54a9e19113943de7"
            ]
        ]
    },
    {
        "id": "1656208bdc4a907b",
        "type": "join",
        "z": "63de26f5e04c1f29",
        "name": "joinInput",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "3c11bb1966662ded"
            ]
        ]
    },
    {
        "id": "3c11bb1966662ded",
        "type": "debug",
        "z": "63de26f5e04c1f29",
        "name": "join",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "0c561d85843de85d",
        "type": "inject",
        "z": "63de26f5e04c1f29",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "R1",
        "payloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "b827eeb2f1452ddd"
            ]
        ]
    },
    {
        "id": "4153d74846e30431",
        "type": "ui_spacer",
        "z": "63de26f5e04c1f29",
        "name": "spacer",
        "group": "e9e21eaa1565e227",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9e21eaa1565e227",
        "type": "ui_group",
        "name": "Test join",
        "tab": "d42858f928e185e5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d42858f928e185e5",
        "type": "ui_tab",
        "name": "Aggregation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]