dev/Main - v2.json
[
    {
        "id": "3f9f136387a993de",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec1aea267e8c32ff",
        "type": "ui_text_input",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai1",
        "tooltip": "",
        "group": "2a2f57c02e67a480",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "relayNumber1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "24372d1ee42bdaac",
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "8cab604d8f90640d",
        "type": "ui_form",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Module",
        "group": "2195dbb77082827f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "IP adresse",
                "value": "ip",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "port",
                "value": "port",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "relai number",
                "value": "count",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ip": "",
            "port": "",
            "count": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "efaef781b12461e1"
            ]
        ]
    },
    {
        "id": "11b343f5660eb27d",
        "type": "ui_dropdown",
        "z": "3f9f136387a993de",
        "name": "ModeSelector",
        "label": "Mode1",
        "tooltip": "",
        "place": "Select option",
        "group": "2a2f57c02e67a480",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Delestage",
                "value": "del",
                "type": "str"
            },
            {
                "label": "Régulation",
                "value": "regu",
                "type": "str"
            },
            {
                "label": "Verrouillage",
                "value": "ver",
                "type": "str"
            },
            {
                "label": "Normal",
                "value": "norm",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode1",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 260,
        "wires": [
            [
                "efaef781b12461e1",
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "efaef781b12461e1",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "aggregation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "24372d1ee42bdaac",
        "type": "change",
        "z": "3f9f136387a993de",
        "name": "save choice to id",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relai",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "efaef781b12461e1"
            ]
        ]
    },
    {
        "id": "c08fec09364b155f",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "Default",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "R1",
        "payloadType": "str",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "ec1aea267e8c32ff"
            ]
        ]
    },
    {
        "id": "b0ece5fe2bc278e9",
        "type": "ui_text_input",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai2",
        "tooltip": "",
        "group": "2a2f57c02e67a480",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "relayNumber2",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "92bf94f5c4494235",
        "type": "ui_dropdown",
        "z": "3f9f136387a993de",
        "name": "ModeSelector",
        "label": "Mode2",
        "tooltip": "",
        "place": "Select option",
        "group": "2a2f57c02e67a480",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Delestage",
                "value": "del",
                "type": "str"
            },
            {
                "label": "Régulation",
                "value": "regu",
                "type": "str"
            },
            {
                "label": "Verrouillage",
                "value": "ver",
                "type": "str"
            },
            {
                "label": "Normal",
                "value": "norm",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode2",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "d4934507d4fc1f79",
        "type": "ui_text_input",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai3",
        "tooltip": "",
        "group": "2a2f57c02e67a480",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "relayNumber3",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "7c7d0b97788c6247",
        "type": "ui_dropdown",
        "z": "3f9f136387a993de",
        "name": "ModeSelector",
        "label": "Mode3",
        "tooltip": "",
        "place": "Select option",
        "group": "2a2f57c02e67a480",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Delestage",
                "value": "del",
                "type": "str"
            },
            {
                "label": "Régulation",
                "value": "regu",
                "type": "str"
            },
            {
                "label": "Verrouillage",
                "value": "ver",
                "type": "str"
            },
            {
                "label": "Normal",
                "value": "norm",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode3",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 660,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "1251f7941766ce55",
        "type": "ui_text_input",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai4",
        "tooltip": "",
        "group": "2a2f57c02e67a480",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "relayNumber4",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 330,
        "y": 820,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "f2cc50134ce416e5",
        "type": "ui_dropdown",
        "z": "3f9f136387a993de",
        "name": "ModeSelector",
        "label": "Mode4",
        "tooltip": "",
        "place": "Select option",
        "group": "2a2f57c02e67a480",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Delestage",
                "value": "del",
                "type": "str"
            },
            {
                "label": "Régulation",
                "value": "regu",
                "type": "str"
            },
            {
                "label": "Verrouillage",
                "value": "ver",
                "type": "str"
            },
            {
                "label": "Normal",
                "value": "norm",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode4",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 820,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "aa37a952e68c7ecc",
        "type": "join",
        "z": "3f9f136387a993de",
        "name": "Message combiné",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "13",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "df9c88096c7f31fa",
                "9d66aa500146ca1d",
                "3df2d2b195c89ea1",
                "a83a7ecad27ee510",
                "ded17044a0b005d4",
                "8365b85513838764",
                "3f743ae6e405970a",
                "ef37b954d91e5c1b",
                "01389532f194d286",
                "3282b2835d99e58c",
                "9b03609c3eae9a8f"
            ]
        ]
    },
    {
        "id": "df9c88096c7f31fa",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "f9c9b6042d85562f",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Mode régulation",
        "func": "var nombre_regu = global.get(\"data\").nbr_regu;\nvar temps_utilisation = 1000*3600*global.get(\"data\").donnees_IHM.temps;\nvar temps_regu = 0;\n\nif (nombre_regu !=0) {\n    temps_regu = temps_utilisation / nombre_regu;\n}\n\n\nmsg.delay = temps_regu;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1460,
        "wires": [
            [
                "06aebda5d5ac5de9"
            ]
        ]
    },
    {
        "id": "c4ac549feb3ecabf",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Mode délestage",
        "func": "var consommation = msg.consommation;\nvar seuil = msg.seuil;\n\nif (consommation > seuil) {\n    msg.payload = true;\n}\nelse {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1200,
        "wires": [
            [
                "3f7547dad4354750",
                "0e93133d846a5888"
            ]
        ]
    },
    {
        "id": "f5eb7d8d3cb8727f",
        "type": "ui_dropdown",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Temps_régulation",
        "tooltip": "",
        "place": "Select option",
        "group": "2a2f57c02e67a480",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 heure",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2 heures",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3 heures",
                "value": 3,
                "type": "num"
            },
            {
                "label": "4 heures",
                "value": 4,
                "type": "num"
            },
            {
                "label": "5 heures",
                "value": 5,
                "type": "num"
            },
            {
                "label": "6 heures",
                "value": 6,
                "type": "num"
            },
            {
                "label": "7 heures",
                "value": 7,
                "type": "num"
            },
            {
                "label": "8 heures",
                "value": 8,
                "type": "num"
            },
            {
                "label": "9 heures",
                "value": 9,
                "type": "num"
            },
            {
                "label": "10 heures",
                "value": 10,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "temps",
        "topicType": "str",
        "className": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "aa37a952e68c7ecc",
                "04d4f6f78b9dc580"
            ]
        ]
    },
    {
        "id": "04d4f6f78b9dc580",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "c7968c140eff2042",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1460,
        "wires": [
            [
                "3769445968e5b825",
                "6efce6a4845636a6"
            ]
        ]
    },
    {
        "id": "3df2d2b195c89ea1",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Nombre_regu",
        "func": "var data = msg.payload;\nvar count = 0;\nvar count_relai = 0;\nfor (var key in data) {\n    var statu = \"statue_relai\" + count_relai;\n    if (key.startsWith(\"mode\") && data[key] === \"regu\" && data[statu] === \"on\") {\n        count++;\n    }\n}\n\nmsg.payload = count;\nmsg.topic = \"nbr_regu\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 300,
        "wires": [
            [
                "6db70cdc63134977",
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "9d66aa500146ca1d",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Nombre_del",
        "func": "var data = msg.payload;\nvar count = 0;\nvar count_relai = 0;\nfor (var key in data) {\n    var statu = \"statue_relai\" + count_relai;\n    if (key.startsWith(\"mode\") && data[key] === \"del\" && data[statu] === \"on\") {\n        count++;\n    }\n}\n\nmsg.payload = count;\nmsg.topic = \"nbr_del\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 260,
        "wires": [
            [
                "6db70cdc63134977",
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "a83a7ecad27ee510",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Nombre_ver",
        "func": "var data = msg.payload;\nvar count = 0;\nvar count_relai = 0;\nfor (var key in data) {\n    count_relai++;\n    var statu = \"statue_relai\" + count_relai;\n\n    if (key.startsWith(\"mode\") && data[key] === \"ver\" && data[statu] === \"on\") {\n        count++;\n    }\n}\n\nmsg.payload = count;\nmsg.topic = \"nbr_ver\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 340,
        "wires": [
            [
                "6db70cdc63134977",
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "c4dc76e6bb902b47",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Recuperation variable global",
        "func": "var data = global.get(\"data\");\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 120,
        "wires": [
            [
                "3d9f75f57fb464a2"
            ]
        ]
    },
    {
        "id": "3d9f75f57fb464a2",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3300,
        "y": 120,
        "wires": []
    },
    {
        "id": "61852e747c8df98b",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2900,
        "y": 120,
        "wires": [
            [
                "c4dc76e6bb902b47"
            ]
        ]
    },
    {
        "id": "2e123c05469b11cf",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 300,
        "wires": []
    },
    {
        "id": "2fc06560859bead2",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Transformation en global msg",
        "func": "global.set(\"data\",msg.payload);\n\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 420,
        "wires": [
            [
                "cc6048f3ccd2c562"
            ]
        ]
    },
    {
        "id": "2983fe70d5a3c25a",
        "type": "join",
        "z": "3f9f136387a993de",
        "name": "joinInput",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1340,
        "y": 420,
        "wires": [
            [
                "2fc06560859bead2"
            ]
        ]
    },
    {
        "id": "6db70cdc63134977",
        "type": "join",
        "z": "3f9f136387a993de",
        "name": "joinInput",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1400,
        "y": 300,
        "wires": [
            [
                "2e123c05469b11cf"
            ]
        ]
    },
    {
        "id": "ded17044a0b005d4",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Changement de topic",
        "func": "msg.payload = msg.payload;\nmsg.topic = \"donnees_IHM\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 420,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "b010fbb479c546c3",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Lecture variblable global1",
        "func": "var mode1 = global.get(\"data\").nbr_del;\nmsg.payload = mode1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3090,
        "y": 160,
        "wires": [
            [
                "b0b5baebbf8824d1"
            ]
        ]
    },
    {
        "id": "b0b5baebbf8824d1",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3300,
        "y": 160,
        "wires": []
    },
    {
        "id": "32becc227d59b8ba",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2900,
        "y": 160,
        "wires": [
            [
                "b010fbb479c546c3"
            ]
        ]
    },
    {
        "id": "a2ade9eb40c9e5a0",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Lecture variblable global2",
        "func": "var mode1 = global.get(\"data\").donnees_IHM.mode1;\nmsg.payload = mode1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3090,
        "y": 200,
        "wires": [
            [
                "4eabe2aeb00d9cbf"
            ]
        ]
    },
    {
        "id": "4eabe2aeb00d9cbf",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3300,
        "y": 200,
        "wires": []
    },
    {
        "id": "957a4f0874be41f3",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2900,
        "y": 200,
        "wires": [
            [
                "a2ade9eb40c9e5a0"
            ]
        ]
    },
    {
        "id": "8365b85513838764",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "tab_del",
        "func": "let tab_del = [];\n\nvar data = msg.payload;\nvar count_relai = 0;\n\nfor (var key in data) {\n\n    if (key.startsWith(\"mode\")) {\n        count_relai++;\n        var statu = \"statue_relai\" + count_relai;\n        \n        if (data[key] === \"del\" && data[statu] === \"on\") {\n            let newLength = tab_del.push(count_relai);\n        }\n        \n    }\n}\n\n\nmsg.payload = tab_del;\nmsg.topic = \"tab_del\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "3f743ae6e405970a",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "tab_regu",
        "func": "let tab_regu = [];\n\nvar data = msg.payload;\nvar count_relai = 0;\n\nfor (var key in data) {\n\n    if (key.startsWith(\"mode\")) {\n        count_relai++;\n        var statu = \"statue_relai\" + count_relai;\n\n        if (data[key] === \"regu\" && data[statu] ===\"on\") {\n            let newLength = tab_regu.push(count_relai);\n        }\n\n    }\n}\n\nmsg.payload = tab_regu;\nmsg.topic = \"tab_regu\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "ef37b954d91e5c1b",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "tab_ver",
        "func": "let tab_ver = [];\n\nvar data = msg.payload;\nvar count_relai = 0;\n\nfor (var key in data) {\n\n    if (key.startsWith(\"mode\")) {\n        count_relai++;\n        var statu = \"statue_relai\" + count_relai;\n        \n        if (data[key] === \"ver\" && data[statu] === \"on\") {\n            let newLength = tab_ver.push(count_relai);\n        }\n\n    }\n}\n\nmsg.payload = tab_ver;\nmsg.topic = \"tab_ver\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 580,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "06aebda5d5ac5de9",
        "type": "trigger",
        "z": "3f9f136387a993de",
        "name": "resend every t_util",
        "op1": "on",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1110,
        "y": 1460,
        "wires": [
            [
                "b7077f8183f66c25",
                "87bbab32c18792a6",
                "c3aeee11f2e1f61e"
            ]
        ]
    },
    {
        "id": "b7077f8183f66c25",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi message ON",
        "func": "var data = global.get(\"data\");\nvar tab_regu = data.tab_regu;\nvar indice_regu = data.indice_regu;\n\nif (msg.payload === \"on\") {\n    msg.payload = 1;\n    msg.topic = data.tab_regu[indice_regu];\n}\n\ndata.indice_regu = indice_regu+1;\nglobal.set(\"data\",data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1460,
        "wires": [
            [
                "01d6d38b3744de78"
            ]
        ]
    },
    {
        "id": "01389532f194d286",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "indice_del",
        "func": "var indice_del = 0;\n\nmsg.payload = indice_del;\nmsg.topic = \"indice_del\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 640,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "3282b2835d99e58c",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "indice_regu",
        "func": "var indice_regu = 0;\n\nmsg.payload = indice_regu;\nmsg.topic = \"indice_regu\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 680,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "9b03609c3eae9a8f",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "indice_ver",
        "func": "var indice_ver = 0;\n\nmsg.payload = indice_ver;\nmsg.topic = \"indice_ver\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 720,
        "wires": [
            [
                "2983fe70d5a3c25a"
            ]
        ]
    },
    {
        "id": "ddc80d62e7b361a7",
        "type": "ui_switch",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Allumage système",
        "tooltip": "",
        "group": "4e5f36d0be8a4487",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 430,
        "y": 1460,
        "wires": [
            [
                "d2b4eac6f2c215bb"
            ]
        ]
    },
    {
        "id": "e9726754c66b97ac",
        "type": "trigger",
        "z": "3f9f136387a993de",
        "name": "resend every t_util",
        "op1": "on",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-10",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3110,
        "y": 340,
        "wires": [
            [
                "2dddcff1b6cf6189",
                "fa86f97506a8d875",
                "8ab9d2a66d3c2844"
            ]
        ]
    },
    {
        "id": "2dddcff1b6cf6189",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi message ON",
        "func": "var data = global.get(\"data\");\nvar tab_regu = data.tab_regu;\nvar indice_regu = data.indice_regu;\n\nif (msg.payload === \"on\") {\n    msg.payload = 1;\n}\n\nmsg.topic = data.tab_regu[indice_regu];\n\ndata.indice_regu = indice_regu+1;\nglobal.set(\"data\",data);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3350,
        "y": 340,
        "wires": [
            [
                "d72a545a64a5fc93"
            ]
        ]
    },
    {
        "id": "6e57a62c56ddd8d1",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4100,
        "y": 340,
        "wires": []
    },
    {
        "id": "58d3fa074db19d8e",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "delay",
                "v": "5000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 2890,
        "y": 340,
        "wires": [
            [
                "e9726754c66b97ac"
            ]
        ]
    },
    {
        "id": "686756babdc2afc3",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 340,
        "wires": [
            [
                "6e57a62c56ddd8d1"
            ]
        ]
    },
    {
        "id": "fa86f97506a8d875",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi message OFF",
        "func": "var data = global.get(\"data\");\nvar tab_regu = data.tab_regu;\nvar indice_regu = data.indice_regu;\n\nif (indice_regu > 0) {\n    msg.payload = 0;\n    msg.topic = data.tab_regu[indice_regu - 1];\n    msg.delay = msg.delay;\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3360,
        "y": 420,
        "wires": [
            [
                "07362deab3d5053f"
            ]
        ]
    },
    {
        "id": "7b20fe73ca0526e7",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 420,
        "wires": [
            [
                "fd1ae08c626923d7"
            ]
        ]
    },
    {
        "id": "fd1ae08c626923d7",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4100,
        "y": 420,
        "wires": []
    },
    {
        "id": "5eb40ac97df0ce67",
        "type": "delay",
        "z": "3f9f136387a993de",
        "name": "delai",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3750,
        "y": 420,
        "wires": [
            [
                "7b20fe73ca0526e7"
            ]
        ]
    },
    {
        "id": "87bbab32c18792a6",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi message OFF",
        "func": "var data = global.get(\"data\");\nvar tab_regu = data.tab_regu;\nvar indice_regu = data.indice_regu;\n\nif (indice_regu > 0) {\n    msg.payload = 0;\n    msg.topic = data.tab_regu[indice_regu - 1];\n    msg.delay = msg.delay;\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1540,
        "wires": [
            [
                "3d9be538a9a4de82"
            ]
        ]
    },
    {
        "id": "549595401bbacc1a",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1540,
        "wires": [
            [
                "d7f50729e693a787",
                "97a411a76bcc7806"
            ]
        ]
    },
    {
        "id": "d7f50729e693a787",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 1600,
        "wires": []
    },
    {
        "id": "85da7332191b166d",
        "type": "delay",
        "z": "3f9f136387a993de",
        "name": "delai",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1670,
        "y": 1540,
        "wires": [
            [
                "549595401bbacc1a"
            ]
        ]
    },
    {
        "id": "3769445968e5b825",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 1400,
        "wires": []
    },
    {
        "id": "261671700c9d9c0a",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Clé_on",
        "trigger": "8faba3f78874375f",
        "x": 3540,
        "y": 260,
        "wires": []
    },
    {
        "id": "d72a545a64a5fc93",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_on",
        "default": true,
        "trigger": "8faba3f78874375f",
        "x": 3680,
        "y": 340,
        "wires": [
            [
                "686756babdc2afc3"
            ]
        ]
    },
    {
        "id": "8ab9d2a66d3c2844",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "definition clé_regu",
        "func": "var data = global.get(\"data\");\nvar indice_regu = data.indice_regu;\nvar nombre_regu = global.get(\"data\").nbr_regu;\n\nmsg.payload = false;\n\nif (indice_regu < nombre_regu && indice_regu>=0) {\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3350,
        "y": 260,
        "wires": [
            [
                "261671700c9d9c0a"
            ]
        ]
    },
    {
        "id": "6efce6a4845636a6",
        "type": "tcp request",
        "z": "3f9f136387a993de",
        "name": "Relay",
        "server": "192.168.4.1",
        "port": "8080",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 2010,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "97a411a76bcc7806",
        "type": "tcp request",
        "z": "3f9f136387a993de",
        "name": "Relay",
        "server": "192.168.4.1",
        "port": "8080",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 2010,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "07362deab3d5053f",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_off",
        "default": true,
        "trigger": "8faba3f78874375f",
        "x": 3580,
        "y": 420,
        "wires": [
            [
                "5eb40ac97df0ce67"
            ]
        ]
    },
    {
        "id": "205906021909f884",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Clé_regu",
        "trigger": "8faba3f78874375f",
        "x": 1500,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c3aeee11f2e1f61e",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "definition clé_regu",
        "func": "var data = global.get(\"data\");\nvar indice_regu = data.indice_regu;\nvar nombre_regu = global.get(\"data\").nbr_regu;\n\nmsg.payload = false;\n\nif (indice_regu < nombre_regu && indice_regu>=0) {\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1380,
        "wires": [
            [
                "205906021909f884"
            ]
        ]
    },
    {
        "id": "01d6d38b3744de78",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_on",
        "default": true,
        "trigger": "8faba3f78874375f",
        "x": 1540,
        "y": 1460,
        "wires": [
            [
                "c7968c140eff2042"
            ]
        ]
    },
    {
        "id": "3d9be538a9a4de82",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_off",
        "default": true,
        "trigger": "8faba3f78874375f",
        "x": 1540,
        "y": 1540,
        "wires": [
            [
                "85da7332191b166d"
            ]
        ]
    },
    {
        "id": "d2b3e4bf7dfd0e87",
        "type": "trigger",
        "z": "3f9f136387a993de",
        "name": "",
        "op1": "on",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1200,
        "wires": [
            [
                "24517fcdc14243f2",
                "50e158114d719166"
            ]
        ]
    },
    {
        "id": "0fd465da256fd978",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi",
        "func": "var data = global.get(\"data\");\nvar tab_ver = data.tab_ver;\nvar indice_ver = data.indice_ver;\n\nif (indice_ver >= 0 && indice_ver < data.nbr_ver) {\n    msg.payload = 0;\n    msg.topic = data.tab_ver[indice_ver];\n\n    data.indice_ver = indice_ver + 1;\n    global.set(\"data\", data);\n    \n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1740,
        "wires": [
            [
                "d8a87768bfb54acb"
            ]
        ]
    },
    {
        "id": "58897b3efc6a07e0",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 1740,
        "wires": [
            [
                "69e72440a1843a5e",
                "709f2f55b65b4d9d"
            ]
        ]
    },
    {
        "id": "69e72440a1843a5e",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 1800,
        "wires": []
    },
    {
        "id": "709f2f55b65b4d9d",
        "type": "tcp request",
        "z": "3f9f136387a993de",
        "name": "Relay",
        "server": "192.168.4.1",
        "port": "8080",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 2030,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "220910b8deb5dbce",
        "type": "trigger",
        "z": "3f9f136387a993de",
        "name": "",
        "op1": "off",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1320,
        "y": 1740,
        "wires": [
            [
                "0fd465da256fd978",
                "29331978fa931f2e"
            ]
        ]
    },
    {
        "id": "53515139c2428e3f",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Clé_ver",
        "trigger": "68b506ff.e13fc8",
        "x": 1700,
        "y": 1660,
        "wires": []
    },
    {
        "id": "29331978fa931f2e",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "definition clé_ver",
        "func": "var data = global.get(\"data\");\nvar indice_ver = data.indice_ver;\nvar nombre_ver = global.get(\"data\").nbr_ver;\n\nmsg.payload = false;\n\nif (indice_ver < nombre_ver && indice_ver>=0) {\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1660,
        "wires": [
            [
                "53515139c2428e3f"
            ]
        ]
    },
    {
        "id": "d8a87768bfb54acb",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_off",
        "default": true,
        "trigger": "68b506ff.e13fc8",
        "x": 1640,
        "y": 1740,
        "wires": [
            [
                "58897b3efc6a07e0"
            ]
        ]
    },
    {
        "id": "e07f0ef110f6e999",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi",
        "func": "var data = global.get(\"data\");\nvar tab_ver = data.tab_ver;\nvar indice_ver = data.indice_ver;\n\nif (indice_ver >= 0) {\n    msg.payload = 0;\n    msg.topic = data.tab_ver[indice_ver];\n\n    data.indice_ver = indice_ver + 1;\n    global.set(\"data\", data);\n    \n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3550,
        "y": 560,
        "wires": [
            [
                "837417ec7c7929fd"
            ]
        ]
    },
    {
        "id": "b086977c51c8eec9",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 4180,
        "y": 560,
        "wires": [
            [
                "911a6bbaa06c1fe8",
                "5f868c1b58307a0e"
            ]
        ]
    },
    {
        "id": "911a6bbaa06c1fe8",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4320,
        "y": 620,
        "wires": []
    },
    {
        "id": "5f868c1b58307a0e",
        "type": "tcp request",
        "z": "3f9f136387a993de",
        "name": "Relay",
        "server": "192.168.4.1",
        "port": "8080",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 4350,
        "y": 560,
        "wires": [
            [
                "35afadf158ccd661"
            ]
        ]
    },
    {
        "id": "35afadf158ccd661",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4520,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea6e0e6f0dcd3462",
        "type": "trigger",
        "z": "3f9f136387a993de",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3120,
        "y": 560,
        "wires": [
            [
                "e07f0ef110f6e999",
                "55a9948773c8e7f8"
            ]
        ]
    },
    {
        "id": "4e8204350afbb7aa",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Clé_off",
        "trigger": "68b506ff.e13fc8",
        "x": 3760,
        "y": 480,
        "wires": []
    },
    {
        "id": "55a9948773c8e7f8",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "definition clé_ver",
        "func": "var data = global.get(\"data\");\nvar indice_ver = data.indice_ver;\nvar nombre_ver = global.get(\"data\").nbr_ver;\n\nmsg.payload = false;\n\nif (indice_ver >= 0 && indice_ver < nombre_ver) {\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3590,
        "y": 480,
        "wires": [
            [
                "4e8204350afbb7aa"
            ]
        ]
    },
    {
        "id": "837417ec7c7929fd",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_off",
        "default": true,
        "trigger": "68b506ff.e13fc8",
        "x": 3920,
        "y": 560,
        "wires": [
            [
                "b086977c51c8eec9"
            ]
        ]
    },
    {
        "id": "ebc55d3e93f56023",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "delay",
                "v": "5000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 2890,
        "y": 560,
        "wires": [
            [
                "ea6e0e6f0dcd3462"
            ]
        ]
    },
    {
        "id": "24517fcdc14243f2",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi",
        "func": "var data = global.get(\"data\");\nvar tab_ver = data.tab_ver;\nvar indice_ver = data.indice_ver;\n\nif (indice_ver >= 0 && indice_ver < data.nbr_ver) {\n    msg.payload = 0;\n    msg.topic = data.tab_ver[indice_ver];\n\n    data.indice_ver = indice_ver + 1;\n    global.set(\"data\", data);\n    \n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 1200,
        "wires": [
            [
                "701cbbb3ac81ac75"
            ]
        ]
    },
    {
        "id": "7e66edff0c9bde89",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1200,
        "wires": [
            [
                "19ed4ac7ecc468cf",
                "1bf0569123352a0f"
            ]
        ]
    },
    {
        "id": "19ed4ac7ecc468cf",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 1260,
        "wires": []
    },
    {
        "id": "1bf0569123352a0f",
        "type": "tcp request",
        "z": "3f9f136387a993de",
        "name": "Relay",
        "server": "192.168.4.1",
        "port": "8080",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 2090,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "4c1fb67b820d7e6e",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Clé_del",
        "trigger": "6a7d5121136e06f1",
        "x": 1720,
        "y": 1120,
        "wires": []
    },
    {
        "id": "50e158114d719166",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "definition clé_del",
        "func": "var data = global.get(\"data\");\nvar indice_del = data.indice_del;\nvar nombre_del = global.get(\"data\").nbr_del;\n\n\n\nif (indice_del < nombre_del && indice_del>=0) {\n    msg.payload = true;\n}\nelse {\n    msg.payload = false;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1120,
        "wires": [
            [
                "4c1fb67b820d7e6e"
            ]
        ]
    },
    {
        "id": "701cbbb3ac81ac75",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_off",
        "default": true,
        "trigger": "6a7d5121136e06f1",
        "x": 1760,
        "y": 1200,
        "wires": [
            [
                "7e66edff0c9bde89"
            ]
        ]
    },
    {
        "id": "13d6db9741587798",
        "type": "ecowatt",
        "z": "3f9f136387a993de",
        "name": "",
        "ostr": "YmNkNmM1ZDctNDA3ZC00Y2ZmLWE1MGEtNGY5MTdmOWJhMDM3OjNlNmVjMGIyLWZlMDUtNDM0ZC1hOWQ3LWRiYmQ4NGNmOTQxMA==",
        "sandbox": true,
        "x": 3080,
        "y": 80,
        "wires": [
            [
                "56f419393d671e18"
            ]
        ]
    },
    {
        "id": "56f419393d671e18",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3270,
        "y": 80,
        "wires": []
    },
    {
        "id": "0ab48d5329f63f08",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2900,
        "y": 80,
        "wires": [
            [
                "13d6db9741587798"
            ]
        ]
    },
    {
        "id": "c039640fd3836595",
        "type": "trigger",
        "z": "3f9f136387a993de",
        "name": "",
        "op1": "on",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3120,
        "y": 720,
        "wires": [
            [
                "062181b84714fbc9",
                "6bdad97ef32b907e"
            ]
        ]
    },
    {
        "id": "062181b84714fbc9",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Envoi",
        "func": "var data = global.get(\"data\");\nvar tab_ver = data.tab_ver;\nvar indice_ver = data.indice_ver;\n\nif (indice_ver >= 0 && indice_ver < data.nbr_ver) {\n    msg.payload = 0;\n    msg.topic = data.tab_ver[indice_ver];\n\n    data.indice_ver = indice_ver + 1;\n    global.set(\"data\", data);\n    \n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3350,
        "y": 720,
        "wires": [
            [
                "9e6412a265a17d19"
            ]
        ]
    },
    {
        "id": "bd1d9afb7c1da082",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Conversion msg",
        "func": "msg.value=Number(msg.topic)+Number(msg.payload);\nmsg.cmd=\"A00\"+msg.topic+\"0\"+msg.payload+\"A\"+msg.value;\nconst buf =Buffer.from(msg.cmd, \"hex\");//\"A00201A3\"\nmsg.payload=buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3980,
        "y": 720,
        "wires": [
            [
                "3d234bb283d31969",
                "65364a256a6fa4cf"
            ]
        ]
    },
    {
        "id": "3d234bb283d31969",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4120,
        "y": 780,
        "wires": []
    },
    {
        "id": "65364a256a6fa4cf",
        "type": "tcp request",
        "z": "3f9f136387a993de",
        "name": "Relay",
        "server": "192.168.4.1",
        "port": "8080",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 4150,
        "y": 720,
        "wires": [
            [
                "15e006c01bdd5c02"
            ]
        ]
    },
    {
        "id": "15e006c01bdd5c02",
        "type": "debug",
        "z": "3f9f136387a993de",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4320,
        "y": 720,
        "wires": []
    },
    {
        "id": "b915a4c57b3724f6",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Clé_off",
        "trigger": "6a7d5121136e06f1",
        "x": 3560,
        "y": 640,
        "wires": []
    },
    {
        "id": "6bdad97ef32b907e",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "definition clé_del",
        "func": "var data = global.get(\"data\");\nvar indice_del = data.indice_del;\nvar nombre_del = global.get(\"data\").nbr_del;\n\nmsg.payload = false;\n\nif (indice_del < nombre_del && indice_del>=0) {\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3380,
        "y": 640,
        "wires": [
            [
                "b915a4c57b3724f6"
            ]
        ]
    },
    {
        "id": "9e6412a265a17d19",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_off",
        "default": true,
        "trigger": "6a7d5121136e06f1",
        "x": 3720,
        "y": 720,
        "wires": [
            [
                "bd1d9afb7c1da082"
            ]
        ]
    },
    {
        "id": "b367b75590a37a8e",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "delay",
                "v": "5000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 2890,
        "y": 720,
        "wires": [
            [
                "c039640fd3836595"
            ]
        ]
    },
    {
        "id": "36c1fa0d48ce841f",
        "type": "ecowatt",
        "z": "3f9f136387a993de",
        "name": "",
        "ostr": "YmNkNmM1ZDctNDA3ZC00Y2ZmLWE1MGEtNGY5MTdmOWJhMDM3OjNlNmVjMGIyLWZlMDUtNDM0ZC1hOWQ3LWRiYmQ4NGNmOTQxMA==",
        "sandbox": true,
        "x": 740,
        "y": 1460,
        "wires": [
            [
                "f9c9b6042d85562f",
                "c4ac549feb3ecabf",
                "f60c383175f231e2"
            ]
        ]
    },
    {
        "id": "cc6048f3ccd2c562",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "Allumage",
        "trigger": "6b629f6de8f12b35",
        "x": 1760,
        "y": 420,
        "wires": []
    },
    {
        "id": "d2b4eac6f2c215bb",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "Porte_A",
        "default": true,
        "trigger": "6b629f6de8f12b35",
        "x": 600,
        "y": 1460,
        "wires": [
            [
                "36c1fa0d48ce841f"
            ]
        ]
    },
    {
        "id": "f60c383175f231e2",
        "type": "function",
        "z": "3f9f136387a993de",
        "name": "Mode verrouillage",
        "func": "var dvalue = msg.payload.signals[0].dvalue;\n\nif (dvalue ===2 || dvalue ===3) {\n    msg.payload = true;\n}\nelse {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1740,
        "wires": [
            [
                "b239096c6479563c",
                "b938cb5b89d6920c"
            ]
        ]
    },
    {
        "id": "b938cb5b89d6920c",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "",
        "trigger": "05c2489cf56f42ed",
        "x": 1130,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b239096c6479563c",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "",
        "default": true,
        "trigger": "05c2489cf56f42ed",
        "x": 1130,
        "y": 1740,
        "wires": [
            [
                "220910b8deb5dbce"
            ]
        ]
    },
    {
        "id": "0e93133d846a5888",
        "type": "jvmg_key",
        "z": "3f9f136387a993de",
        "name": "",
        "trigger": "fe2db4feddb0f15a",
        "x": 1130,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3f7547dad4354750",
        "type": "jvmg_gate",
        "z": "3f9f136387a993de",
        "name": "",
        "default": true,
        "trigger": "fe2db4feddb0f15a",
        "x": 1130,
        "y": 1200,
        "wires": [
            [
                "d2b3e4bf7dfd0e87"
            ]
        ]
    },
    {
        "id": "b541d58563b6bb46",
        "type": "inject",
        "z": "3f9f136387a993de",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "consommation",
                "v": "1000",
                "vt": "str"
            },
            {
                "p": "seuil",
                "v": "1200",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 1200,
        "wires": [
            [
                "c4ac549feb3ecabf"
            ]
        ]
    },
    {
        "id": "3321ca39a33157bb",
        "type": "ui_switch",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai2",
        "tooltip": "",
        "group": "d4e836e4ba7f7ef4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "statue_relai2",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "a27f0b0cdd7777ba",
        "type": "ui_switch",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai3",
        "tooltip": "",
        "group": "d4e836e4ba7f7ef4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "statue_relai3",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 700,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "0621370ae0838065",
        "type": "ui_switch",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai4",
        "tooltip": "",
        "group": "d4e836e4ba7f7ef4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "statue_relai4",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 860,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "daa6a1dd999dc3a1",
        "type": "ui_switch",
        "z": "3f9f136387a993de",
        "name": "",
        "label": "Relai1",
        "tooltip": "",
        "group": "d4e836e4ba7f7ef4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "statue_relai1",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "aa37a952e68c7ecc"
            ]
        ]
    },
    {
        "id": "2a2f57c02e67a480",
        "type": "ui_group",
        "name": "Gestion",
        "tab": "d7fb2e144d1a291c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2195dbb77082827f",
        "type": "ui_group",
        "name": "Module",
        "tab": "beadf6edb35b9ba3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e5f36d0be8a4487",
        "type": "ui_group",
        "name": "Système",
        "tab": "d7fb2e144d1a291c",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8faba3f78874375f",
        "type": "jvmg_trigger",
        "trigger": "Indice_regu"
    },
    {
        "id": "68b506ff.e13fc8",
        "type": "jvmg_trigger",
        "trigger": "Indice_ver"
    },
    {
        "id": "6a7d5121136e06f1",
        "type": "jvmg_trigger",
        "trigger": "Indice_del"
    },
    {
        "id": "6b629f6de8f12b35",
        "type": "jvmg_trigger",
        "trigger": "Allumage"
    },
    {
        "id": "05c2489cf56f42ed",
        "type": "jvmg_trigger",
        "trigger": "Cle_mode_ver"
    },
    {
        "id": "fe2db4feddb0f15a",
        "type": "jvmg_trigger",
        "trigger": "Clé_mode_del"
    },
    {
        "id": "d4e836e4ba7f7ef4",
        "type": "ui_group",
        "name": "Switch",
        "tab": "d7fb2e144d1a291c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7fb2e144d1a291c",
        "type": "ui_tab",
        "name": "Gestion des relais v2",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "beadf6edb35b9ba3",
        "type": "ui_tab",
        "name": "Gestion des relais",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]